html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

td,
th {
  border: 1px solid black;
}

.card-title {
  font-family: "Brush Script MT";
  text-align: right;
  font-size: x-large;
  font-weight: 100;
}

h1 {
  color: rgb(206, 0, 0);
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
}

.lieu {
  color: rgb(246, 89, 5);
}

.danse {
  color: rgb(246, 89, 5);
  font-size: larger;
  font-weight: 600;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin-top: 100px;
  background-color: rgba(252, 242, 219, 0.21);
}
