@{
    ViewData["Title"] = "Accueil";
}

<div style="display: flex;">
    <img src="~/images/banderole.png" style="max-width:75%;object-fit:contain;">
    &emsp;
    <img src="~/images/mousse.gif" style="max-width:20%;">
</div>

<br/>

<h1>Le RDV des passionnés de danses afro-latinos</h1>
<br/>
<div class="row" style="vertical-align: middle">
    <div class="col-2"></div>
    <div class="col-8" style="font-size:large;text-align:center;">
        <hr style="color:rgb(206, 0, 0);opacity: 1;height:3px;">
        Créée en 2014 par des passionnés de danses latines, l'association Afro latino partage sa passion et sa bonne humeur pour vous apprendre les danses latines !
        De tous âges et de tous niveaux, venez découvrir ces danses sous l'enseignement de Mousse, notre professeur principal.
        <hr style="color:rgb(206, 0, 0);opacity: 1;height:3px;">
    </div>
</div>

<br/>

<h1>Cours et stages de danses afro-latines à Bordeaux et alentours</h1>

<br/>
<div class="row center" style="margin-left:10px">

<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/salsa.png" class="card-img-top" alt="Salsa cubaine" style="width:80%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Salsa cubaine </h5>
        <p class="card-text">
            La <span class="danse">salsa cubaine</span> est la danse latine qui a ses plus fervents adeptes. Elle vous fera tourner notamment grâce à sa Rueda de Casino, aux rythmes des congas et des sons afro-cubains. Elle est idéale pour commencer à danser.
        </p>
    </div>
</div>
<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/salsap.jpg" class="card-img-top" alt="Salsa portoricaine" style="width:80%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Salsa portoricaine </h5>
        <p class="card-text">
            La <span class="danse">salsa portoricaine</span> est la danse latine la plue répandue dans le monde avec ses “shines”, ses figures et ses tours spectaculaires. Nos cours vous proposent une salsa moderne, dynamique et explosive.
        </p>
    </div>
</div>
<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/bachata.webp" class="card-img-top" alt="Bachata" style="width:30%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Bachata </h5>
        <p class="card-text">
            La <span class="danse">bachata</span> est une danse venue du soleil de la République Dominicaine. Longtemps décriée, elle s’est fortement popularisée et propose aujour’dhui des déclinaisons “sensual” et modernes pour des danses toutes en ondulations.
        </p>
    </div>
</div>
<div class="card col-2 m-2" style="width:16rem;">
    <img src="images/kiz.jpg" class="card-img-top" alt="Kizumba" style="width:80%;"/>
    <div class = "card-body">
        <h5 class="card-title"> Kizomba </h5>
        <p class="card-text">
            La <span class="danse">kizomba</span> (ou “tango africain”) est une danse de couples qui nous vient d’Angola. Très en vogue depuis quelques années, c’est un mélange langoureux et sensuel entre le tango argentin et le zouk.
        </p>
    </div>
</div>
</div>
