@{
    ViewData["Title"] = "Cours et tarifs";
}
<h1>Les cours</h1>

<br/>
<p>
    L'association Afro-Latino propose des cours de danse de salsa, de salsa cubaine, de salsa portoricaine, de bachata et de kizomba. Tous les cours sont dispensés par des professeurs expérimentés et sympathiques. Nous vous proposons différents niveau : débutants, moyens et expérimentés.
</p>

<br/>
<h3 style="color:rgb(246, 89, 5);">Les cours collectifs</h3>

<p>
    Vous pouvez venir seul ou accompagné, comme cela vous arrange. Si vous êtes seul, ne vous inquiétez pas, la majorité des danseurs et des danseuses sont comme vous, vous trouverez forcement quelqu'un avec qui danser une fois sur place !
</p>

<p>
    Pas besoin de vêtements particuliers pour venir danser, votre sourire suffira.
</p>

<br/>
<h3 style="color:rgb(246, 89, 5);">Les cours particuliers</h3>

<p>
    Les cours particuliers vous permettent de maitriser rapidement les bases des danses latines et sont conçus sur mesure. Ils ont généralement lieu soit chez vous, soit à salle de danse (contre une participation à la location de la salle) et peuvent se déroulent tous les jours de la semaine y compris le week-end.
</p>

<p>
    Nous définissons ensemble un objectif (par exemple : préparer une chorégraphie pour un mariage),  basé basé généralement sur un type de danse en particulier. Les cours particuliers peuvent se faire à l'unité, ou par des formules de 10h ou 20h.
</p>

<br/>
<h1>Les tarifs</h1>

<br/>
<h5 style="text-decoration:underline;"> Tarifs des cours collectifs ayant lieu à la salle de danse M270 à Floirac</h5>
<br/>

<div class="row">
    <div class="col-1"></div>
    <div class="col-5 justify-content-center" style="text-align:center;border: 1px solid black;padding:5px">
    <ul><strong>Tarif plein</strong>                                                         
    <li>1 cours par semaine 200€</li>                             
    <li>2 cours par semaine 280€</li>                            
    <li>3 cours par semaine 390€</li>
    </ul>
    </div>
    &emsp;
    <div class="col-5 justify-content-center" style="text-align:center;border: 1px solid black; padding: 5px;">
    <ul><strong>Tarif réduit</strong>
    <li>1 cours par semaine 120€</li>
    <li>2 cours par semaine 200€</li>
    <li>3 cours par semaine 280€</li>
    </ul>
    </div>
    <div class="col-1"></div>
</div>
<div class="col" style="text-align:center;">
    Adhésion annuelle : 15€
</div>

<br/>
<h5 style="text-decoration:underline;">Cours particuliers</h5>
<p> Concernant les cours particuliers, les tarifs peuvent différer suivant le nombre de participant et s'il s'agit d'un cours à domicile ou à la salle de danse.</p>
<p> Nous vous invitons à nous contacter pour plus d'informations.</p>