@{
    ViewData["Title"] = "Tarifs";
}
<h1>@ViewData["Title"]</h1>

<br/>
<h5 style="text-decoration:underline;"> Tarifs des cours ayant lieu à la salle de danse M270 à Floirac</h5>
<br/>

<div class="row">
    <div class="col-1"></div>
    <div class="col-5 justify-content-center" style="text-align:center;border: 1px solid black;padding:5px">
    <ul><strong>Tarif plein</strong>                                                         
    <li>1 cours par semaine 200€</li>                             
    <li>2 cours par semaine 280€</li>                            
    <li>3 cours par semaine 390€</li>
    </ul>
    </div>
    &emsp;
    <div class="col-5 justify-content-center" style="text-align:center;border: 1px solid black; padding: 5px;">
    <ul><strong>Tarif réduit</strong>
    <li>1 cours par semaine 120€</li>
    <li>2 cours par semaine 200€</li>
    <li>3 cours par semaine 280€</li>
    </ul>
    </div>
    <div class="col-1"></div>
</div>
<div class="col" style="text-align:center;">
    Adhésion annuelle : 15€
</div>

<br/>
<h5 style="text-decoration:underline;">Cours particuliers</h5>
<p> Concernant les cours particuliers, les tarifs peuvent différer suivant le nombre de participant et s'il s'agit d'un cours à domicile ou à la salle de danse.</p>
<p> Nous vous invitons à nous contacter pour plus d'informations.</p>