@model AfroLatino.Models.Event

@{
    ViewData["Title"] = "Création evenement";
    @* Event ev = (Event)ViewData["Event"]!; *@
}

<h1>Créer un évènement</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="Id" value="@ev.Id" /> *@
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titre : </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Date et heure :</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image :</label>
                <input asp-for="Image" class="form-control" type="file" name="Image" accept="image/png, image/jpeg, image/webp" />
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="DescriptionCourte" class="control-label">Descrition courte de l'évènement :</label>
                <input asp-for="DescriptionCourte" class="form-control" />
                <span asp-validation-for="DescriptionCourte" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="DescriptionLongue" class="control-label">Description longue de l'évènement :</label>
                <input asp-for="DescriptionLongue" class="form-control" />
                <span asp-validation-for="DescriptionLongue" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Lieu" class="control-label">Lieu : </label>
                <input asp-for="Lieu" class="form-control" />
                <span asp-validation-for="Lieu" class="text-danger"></span>
            </div>

            <div class="form-group">
                        <br/>
                        <input asp-page-handler="Upload" type="submit" value="Ajouter un évènement" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <br/>
    <a asp-action="Index"><button class="btn btn-danger">Retour à l'agenda</button></a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}